<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> My web page</title>
    <link rel="icon" href="img/mypic.jpg">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="index-body">
    <nav class="navbar"  style="position: fixed; width:1500px;">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar" style=" background-color: black;"></span>
                      <span class="icon-bar" style=" background-color: black;"></span>
                      <span class="icon-bar" style=" background-color: black;"></span>                      
                    </button>
                <li><a href="#" class="navbar-brand" style=" color: black;">Prashanth</a> </li>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav"  >
                <li class="active"><a href="#" style=" color: black;">Home</a></li>
                <li ><a href="html/calculation.html" style=" color: black;">GPA calculator</a></li>
                <li ><a href="html/contact.html" style=" color: black;">Contact</a></li>
                <li> <a href="/">GuestBook</a> </li>
                    </ul>
                    </div>
        <!-- <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
       </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <strong>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="html/calculation.html">Calculation <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="html/contact.html">About <span class="sr-only">(current)</span></a>
                    </li>
                </ul> 
            </strong>               
        </div>         -->
    </nav>
    <!-- <div class="container-fluid"> -->
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mycss">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav">
                                    <li class="nav-item active">
                                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                            <a class="nav-link" href="html/calculation.html">Calculation <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                            <a class="nav-link" href="html/contact.html">About <span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>                      
                    </div>
                  </nav> -->
    <div class="image container">
        <img src="mypic3.jpeg" alt="my picture"/>
    </div>
    <div class="header-container">
            <header>
                <p>Prashanth Kumar Thallada</p>
            </header>
    </div>

    <div class="body-index">
        <article id="article">
            <h3>Current</h3>
                <p>Pursuing my Masters from Northwest Missouri State University in Spring 2018 Semester</p>
            <h3>Background</h3>
                <p>
                <ul>
                    <li>completed my Bachelors in ECE from Jawaharlal Nehru University Hyderabad with aggregate of 74%</li>
                    <li>Pursued my Intermediate (10+2) from Sri Gayatri Junior College, Hyderabad with aggregate of 94.6%</li>
                    <li>taken my certificate of schooling from kakatiya concept school, Miryalaguda with aggregate of 72.16%</li></ul>
                </p>
            <h3>Hometown</h3>
                <p>I'm from Hyderabad, it located southern part of India. Hyderabad is famous for many places like
                <ul><li>Charminar</li><li>Golkonda Fort</li><li>Many Museums</li></ul></p>
            <h3>Future Plans</h3>
                <p>I just want to gain some Technical knowledge from this University and want to apply this for my future job to develop web</p>
        </article>
        <aside id="aside">
            <h3>Technical Interests</h3>
                <p>Interested in
                <ul><li>JAVA</li><li>MATLAB</li><li>HTML</li><li>CSS</li><li>JAVA Script</li></ul></p>
            <h3>Hobbies</h3>
                <p><ul><li>watching TV</li><li>Playing Cricket, Volleyball</li><li>Travelling</li></ul></p>
            <h3>Programming Languages Known</h3>
                <p><ul><li>JAVA</li><li>C,C++</li><li>MATLAB</li></ul></p>
        </aside>
    </div>
    <div class="clr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 video">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/_Jmkvv_nKTE" allowfullscreen></iframe>
            </div>
            
            <div class="col-md-6 video">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/pp2S2lHjzZI" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <footer style="background-color:ghostwhite; color:black">
        <p>Contact me at:S531506@nwmissouri.edu</p>
        <p>citations: background image : "https://i.ytimg.com/vi/lfgLAJg3srY/maxresdefault.jpg"</p>
    </footer>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>